<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    [%metas%]
    [%favicon%]
    [%css%]
    <title>[%title%]</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {% if dashboard_css %}
    <style>
      {{ dashboard_css }}
    </style>
    {% endif %}
  </head>

  <body>
    <section class="section" id="container">
      <div class="container">
          [%app_entry%]
      </div>
    </section>

    [%config%]
    [%scripts%]

    <script id="_dash-renderer" type"application/javascript">
      class cRenderer extends DashRenderer {
        constructor(hooks={request_pre: null, request_post: null}) {
          super(hooks)
        }
      }
      cRenderer.propTypes = {
        'hooks': PropTypes.shape({
            'request_pre': PropTypes.func,
            'request_post': PropTypes.func,
        })
      }
      const renderer = new cRenderer({
        request_pre: (req) => {
          req['csrf_token'] = document.getElementById('csrf_token').value;
        },
        request_post: (req) => {},
      })
    </script>

    <!-- send height to parent script -->
    <script>
      const ro = new ResizeObserver((elem) => {
        const cr = elem[0].contentRect;

        let height;
        let currentHeight = cr.height;

        if (currentHeight !== height) {
          height = currentHeight;
          window.parent.postMessage({
            'frameHeight': height
          }, '*');
        }
      });

      // Observe one or multiple elements
      ro.observe(document.body);
    </script>
  </body>
</html>
