{% extends "templates/web.html" %}

{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
<div style='min-height: 360px'>
	<section class='for-login'>
		<div class="login-content page-card" style="margin-top: 30px;">
			<form class="form-signin form-login" role="form">
				<div class="page-card-head">
					<span class="indicator blue" data-text="{{ _('Login') }}"></span>
				</div>

				<input type="text" id="login_email"
					class="form-control"
					placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('Email Address') }}{% endif %}"
					required autofocus>

				<div class="password-field" style="position: relative;">
					<input type="password" id="login_password"
							class="form-control" placeholder="{{ _('Password') }}" required>

					<span toggle="#login_password" class="fa fa-fw fa-eye toggle-password text-muted"></span>
				</div>

				<button class="btn btn-sm btn-primary btn-block btn-login" type="submit">
					{{ _("Login") }}</button>

				{% if ldap_settings and ldap_settings.enabled %}
				<button class="btn btn-sm btn-default btn-block btn-login btn-ldap-login">
					{{ _("Login with LDAP") }}</button>
				{% endif %}
			</form>
		</div>
	</section>
</div>
{% endblock %}

{% block script %}
	<script>{% include "templates/includes/login/dashboard.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
