body {
    background-color: transparent;
    padding: 10px;
}

#container {
    margin-top: 0px;
}

div.card-header.narrow {
    padding-top: 8px;
    padding-bottom: 8px;
}

input {
    /* copied from core-ui */
    display: block;
    width: 100%;
    height: calc(2.0625rem + 2px);
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
